/*  new-tracks */
@media @iphone6 {
    .b-new-tracks {
        min-height: 2796px;
        margin-bottom: 66px;
        &__list {
            display  : flex;
            max-width: 650px;
            margin-left: 22px;
            height   : 2790px;
            /*clear:none;*/
            align-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item {
            width:384px;
            height:422px;
            margin: 0 auto;
            &_number_1 {
                background: url('@{imgpath-min}track1.png');
            }
            &_number_2 {
                background: url('@{imgpath-min}track2.png');
            }
            &_number_3 {
                background: url('@{imgpath-min}track3.png');
            }
            &_number_4 {
                background: url('@{imgpath-min}track4.png');
            }
            &_number_5 {
                background: url('@{imgpath-min}track5.png');
            }
            &_number_6 {
                background: url('@{imgpath-min}track6.png');
            }
        }
        &__descr {
            text-align: left;
            padding: 35px;
            text-align: left;
        }
        &__date {
            color: #000000;
            /*margin-top:35px;*/
            /*text-align: left;*/
            font-family: OpenSans-Bold;
            margin-bottom: 12px;
        }
        &__date:after {
            content: url('@{imgpath}black-line.png');
        }
        &__album {
            color: #ffffff;
            /*margin-top:35px;*/
            /*text-align: left;*/
            font-family: OpenSans-Bold;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        &__name {
            color: #000000;
            /*margin-top:35px;*/
            /*text-align: left;*/
            font-family: OpenSans-Regular;
            font-size: 23px;
        }
        &__full-descr {
            /*position: absolute;*/
            /*position: relative;*/
            font-family: OpenSans-Regular;
            font-size: 14px;
            overflow-y: hidden;
            max-height: 155px;
            /*text-overflow: scroll;*/
            /*white-space: nowrap;*/
            /*height: 50%;*/
        }
    }
}