/* Latter compositions */
.b-latter-compositions {
    margin-bottom: 159px;
    height: 1667px;
    &__title {
        color: rgb(0,0,0);
        line-height: 34px;
        margin-bottom: 52px;
        transform: translateX(7px);
    }
    &__title:before {
        content: url('@{imgpath}black-line-lat-comp.png');
        transform: translate(-27px, -18px);
    }
    &__preview {
        text-align: center;
        font-size: 14px;
        font-family: OpenSans-Regular;
        line-height: 24.27px;
        color: rgb(121,130,133);
        .va118;
        margin-bottom: 160px;
    }
    &__track {
        height: 422px;
        margin-bottom: 53.5px;
    }
    &__date {
        font-size: 14px;
        font-family: OpenSans-Bold;
        color: rgba(0,0,0,0.65);
        margin-bottom: 14px;
    }
    &__date:after {
        content: url('@{imgpath}lat-comp-black-line.png');
        position: absolute;
        transform: translate(-70.5px, 13px);
    }
    &__short-name {
        font-size: 14px;
        font-family: OpenSans-Bold;
        text-transform: uppercase;
        margin-bottom: 40.5px;
    }
    &__name {
        font-size: 23px;
        font-family: OpenSans-Regular;
        .va18;
        line-height: 24.27px;
        margin-bottom: 29.5px;
    }
    &__description {
        font-size: 14px;
        font-family: OpenSans-Regular;
        color: #798285;
        .va18;
        line-height: 24.27px;
    }
    &__descr-of-track {
        box-sizing: border-box;
        width: 600px;
        height: 422px;
        background-color: rgb(245,246,246);
        padding-left: 35px;
        padding-right: 50px;
        &_float_right {
            float: right;
            clear: right;
            padding-top: 31px;
        }
        &_float_right:before {
            position: absolute;
            content: url('@{imgpath}lat-comp-strelka-vlevo.png');
            transform: translate(-47px, 169px);
        }
        &_float_left {
            float: left;
            clear: left;
            padding-top: 29px;
        }
        &_float_left:after {
            position: absolute;
            content: url('@{imgpath}lat-comp-strelka-vpravo.png');
            transform: translate(565px, -94px);

        }
    }
    &__link {
        display: inline-block;
    }
    &__link:last-child {
        margin-right: 0;
    }
    &__player {
        width: 600px;
        height: 422px;
        text-align: center;
        &_float_left {
        float: left;
        clear: none;
        }
        &_float_right {
        float: right;
        clear: none;
        }
        &_background_1 {
            background: url('@{imgpath}show-me-love.png');
        }
        &_background_2 {
            background: url('@{imgpath}music-is-life.png');
        }
        &_background_3 {
            background: url('@{imgpath}chill-nation.png');
        }
    }
    &__controls {
        width: 80%;
        margin: 380px auto 5px;
        /*display: table-cell;*/
        /*vertical-align: bottom;*/
    }
    &__controls span {
        display: table-cell;
        height: 16px;
        vertical-align: middle;
    }
    &__play {
        box-sizing: border-box;
        /*padding-left: ;*/
    }
    &__play:hover {
        cursor: pointer;
    }
    &__pause:hover {
        cursor: pointer;
    }
    &__playpause {
        width:20px;
        height: 16px;
        text-align: center;
    }
    &_display_none img {
        display: none;
    }
}


