@media @iphone6 {
    .b-discography {
        /*display: block;*/
        background: url('@{imgpath-min}forest.png') no-repeat center bottom;
        min-height: 2134px;
        margin-bottom: 110px;
        /*width:100vw;*/
        &__title {
            line-height: 35px;
            margin: 0 auto;
            width: 345px;
            height: 40px;
            background: url('@{imgpath-min}discography-back.png') no-repeat;
            background-position: 0 -269px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: translate(-3px,-1px);
        }
        &__title:before {
            transform: translate(-15.5%,-18px);
            z-index: -1;
        }
        &__preview {
            width: 635px;
            font-size: 15px;
            color: #798285;
            text-align: center;
            line-height: 24.27px;
            /*max-width: 735px;*/
            margin: 42px auto 86px;
            padding-left: 0;
            .va118;
        }
        &__album {
            width: 100%;
            clear: both;
            position: relative;
        }
        &__album-title {
            max-width: 50%;
            float: left;
            font-size: 15px;
            padding: 16px 2px;
            margin-bottom: 24px;
        }
        &__album-year {
            margin-bottom: 9px;
            font-family: OpenSans-Bold;
            font-size: 15px;
            color: rgba(0,0,0,0.65);
            opacity: 35%;
        }
        &__album-year:after {
            /*display:block;*/
            content: '';
            width: 649px;
            height: 1px;
            position: absolute;
            background-color: #000;
            transform: translate(-32px, 28px);
        }
        &__album-name {
            margin-bottom: 0;
            color: #000000;
            text-transform: uppercase;
            font-family: OpenSans-Bold;
        }
        &__album-descr {
            /*display:block;*/
            font-size: 15px;
            line-height: 24.27px;
            .va18;
            clear: both;
            float: none;
            max-width: 672px;
            padding-left: 3px;
            /*text-align: justify;*/
        }
        &__album-short-descr {
            /*display:block;*/
            font-size: 23px;
            line-height: 24.27px;
            .va18;
            color:#000000;
            &_number_one {
                margin-bottom: 19px;
                word-spacing: 0.085em;
            }
            &_number_two {
                margin-bottom: 19px;
            }
            &_number_three {
                line-height: 35.27px;
                margin-bottom: 14px;
            }
            &_wrap_nowrap {
                width: 439px;
                white-space: normal;
            }
        }
        &__album-full-descr {
            /*display:block;*/
            font-size: 15px;
            line-height: 24.27px;
            text-align: justify;
            .va18;
            color:#acacac;
            &_number_one {
                margin-bottom: 41px;
            }
            &_number_two {
                margin-bottom: 17.5px;
            }
            &_number_three {
                margin-bottom: 88.5px;
            }
        }
        &__album-year_margin_double {
            margin-top: 42px;
        }
        &__button-play {
            margin: auto;
            width: 196px;
            height: 56px;
            font-family: OpenSans-Bold;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            line-height: 56px;
            transform: translateX(-2px);
            &_background_one {
                background: url('@{imgpath}mount.png') no-repeat;
                color:#ffffff;
                margin-bottom: 89px;
            }
            &_background_two {
                background: url('@{imgpath}palm.png') no-repeat;
                color:#000000;
                margin-bottom: 86px;
            }
            &_background_three {
                background: url('@{imgpath}shadow.png') no-repeat;
                color:#000000;
            }
        }
        &__button-play:active {
            box-shadow: inset 0 5px 15px #535353;
        }
    }
}