/* History */
.b-history {
    min-height   : 1105px;
    background   : url('@{imgpath}history.png') no-repeat center bottom;
    margin-bottom: 119px;
    &__title {
        position     : relative;
        padding-top  : 15px;
        margin-bottom: 53px;
        z-index      : 0;
    }
    &__title:before {
        content         :'';
        background-color: #000;
        width           : 272px;
        height          : 1px;
        transform       : translate(-36px, 18px);
        z-index         : -1;
    }
    &__preview {
        .va118;
        font-family: OpenSans-Regular;
        font-size  : 14px;
        color      : #798285;
        width      : 816px;
        margin     : 0 auto 189px;
        text-align : center;
        line-height: 24.27px;
    }
    /*&__timeline {
        width: 100%;
        margin: 0 auto;
        text-align: justify;
    }*/
    &__date {
        /*margin-right: 50px;*/
        font-family   : Dosis-Regular;
        font-size     : 35.49px;
        .va118;
        color         : #000;
        opacity       : 1;
        text-transform: uppercase;
        cursor        : pointer;
        transition    : 0.6s;
    }
    &__case {
        display: none;
    }
    &__date-back {
        font-family     : Dosis-Regular;
        font-size       : 35.49px;
        background-color: rgba(245,245,245,0.9);
        border-radius   : 40px;
        opacity         : 1;
    }
}
.owl-item {
    display   : inline-block;
    clear     : none;
    text-align: center;
}
.owl-item.center .b-history__date {
    opacity: 1;
    height : 210px;
}
.owl-item.center .b-history__date-back {
    opacity         : 1;
    color           : rgba(0,0,0,1);
    background-color: rgba(245,245,245,0.9);
}
.owl-item.center .b-history__date-back:before {
    position        : absolute;
    content         : '';
    width           : 8px;
    height          : 8px;
    background-color: #595c59;
    border-radius   : 4px;
    transform       : translate(-58px, 18px);
}
.owl-item.center .b-history__date-back:after {
    position        : absolute;
    content         : '';
    width           : 8px;
    height          : 8px;
    background-color: #595c59;
    border-radius   : 4px;
    transform       : translate(49px, 18px);
}
.owl-item.center .b-history__case {
    display       : block;
    position      : absolute;
    width         : 224px;
    font-family   : OpenSans-Regular;
    font-size     : 14px;
    line-height   : 19.27px;
    text-transform: none;
    letter-spacing: 0;
    top           : 71px;
    left          : 50%;
    text-align    : center;
    transform     : translateX(-46%);
    overflow-y    : visible;
}
.owl-carousel {
    /*overflow-x: scroll;*/
    overflow-y: visible;
    transform : translateX(-1.8%);
}
.owl-carousel:after {
    /*display: block;*/
    position        : absolute;
    content         :'';
    background-color: #afafaf;
    width           : 100vw;
    height          : 1px;
    z-index         : -1;
    top             : 25px;
}
.owl-item.center {
    width     : 390px !important;
    text-align: center;
}
.owl-item.cloned:not(.active) {
    visibility: hidden;
    clear     : none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .b-history {
        &__title:before {
            position : absolute;
            transform: translate(300%,16px);
            z-index  : -1;
        }
    }
    .owl-item.center .b-history__date-back:before {
        transform: translate(58px, 18px);
    }
}



