    /* History */
@media @iphone6 {
    .b-history {
        min-height: ceil(1105/2px);
        background: url('@{imgpath-min}history.png') no-repeat center bottom;
        margin-bottom: 90/2px;
        &__title {
        padding-top: 15/2px;
        }
    }
}
