/* Contact */
@media @iphone6 {
    .b-contact {
        height: 880/2px;
        background: url('@{imgpath-min}footer.png') no-repeat center bottom;
        background-size: contain;
        &__content {
            text-align: left;
            padding-left: 94/2px;
        }
        &__title {
            padding-top: 0;
            text-align: left;
            color: #454545;
            margin-bottom: 36/2px;
        }
        &__title:before {
            transform: translate(3px,-18px);
        }
        &__adress {
            margin-bottom: 10/2px;
            font-family: OpenSans-Regular;
            font-size: 14/2px;
            color: #798285;
            .va18;
            padding-left: 2/2px;
        }
        &__tel {
            display: block;
            padding-left: 2/2px;
            font-family: OpenSans-Regular;
            color: #7b7b7b;
            font-size: 14/2px;
            margin-bottom: 78/2px;
        }
        &__form {
            width: 382/2px;
            padding-left: 3/2px;
            float: left;
            clear: left;
        }
        &__form:after {
            content: url('@{imgpath}black-line-contact.png');
            position: absolute;
            transform: translate(448/2px, -187/2px);
        }
        &__form-name,
        &__form-email,
        &__form-message {
            box-sizing: border-box;
            background: transparent;
            width: 382/2px;
            height: 30/2px;
            margin-bottom: 44/2px;
            border-style: hidden;
            border-bottom: 1px solid #000;
            color: #000;
            font-size: 14/2px;
            .va18;
            font-family: OpenSans-Regular;
        }
        &__form-message {
            margin-bottom: 25/2px;
        }
        &__form-name:focus,
        &__form-email:focus,
        &__form-message:focus {
            border: 1px solid #000;
        }
        &__form input::-webkit-input-placeholder {
            color: #798285;
        }
        &__form input::ms-input-placeholder {
            color: #798285;
        }
        &__form input:ms-input-placeholder {
            color: #798285;
        }
        &__form input::-moz-placeholder {
            color: #798285;
            opacity: 1;
        }
        &__form input:-moz-placeholder {
            color: #798285;
            opacity: 1;
        }
        &__form-send {
            text-transform: uppercase;
            background: transparent;
            border-style: none;
            color:#000;
            font-family: OpenSans-Bold;
            font-size: 20/2px;
            cursor: pointer;
        }
        &__form-send:hover {
            border-bottom: 1px solid #000;
            transition: all 0.3s ease-in-out 0s;
        }
        &__social-links {
            display: flex;
            height: 186/2px;
            padding-top: 19/2px;
            margin-right: 7/2px;
            flex-direction: column;
            flex-wrap: nowrap;
            float: right;
            clear: right;
            justify-content: space-between;
            align-items: center;
        }
        &__social-link_padding-top_big>img {
            padding-top: 7/2px;
            /*padding-left: 2px;*/
        }
    }
}
