/* Upcoming events */
.upcoming-events {
    height: 1203px;
    margin-bottom: 145px;
    background: url('@{imgpath}bridge.png') no-repeat center bottom;
    /*background-size: cover;*/
}
.upcoming-events__title {
    height: 1.1em;
    background: -webkit-gradient(linear, left top, left bottom, from(#62a2ad), to(#8dbab3));
    background: linear-gradient(#62a2ad, #8dbab3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}