.va18() {
    letter-spacing: 0.018em;
}
.va118() {
    letter-spacing: 0.118em;
}
.fs-xs () {
    font-size: 8px;
}
.fs-s () {
    font-size: 14px;
    line-height: 18px !important;
}
.bg-contain () {
    background-size: contain;
}
.bg-cover () {
    background-size: cover;
}